<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Line Chart</title>
</head>
<body>
    <div style="width: 600px; height: 400px;">
        <canvas id="myLine" height="350" width="550"></canvas>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <script>
        const labels = {{ titles | tojson }};
        const ctx = document.getElementById("myLine");
        let lineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: "Average Views",
                    data: [23, 345, 566, 78, 90, 0, 56]
                }]
            }
        });
    </script>
</body>
</html>
